<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="index.html">{{appTitle}}</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">

    <app-nav-menu></app-nav-menu>

    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-2x fa-angle-left"></i>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-header" id="navbarHeader">

      <li class="nav-item dropdown" id="bell-notify-item">
        <a class="nav-link dropdown-toggle notify-item" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell"></i>
          <span class="d-lg-none">
            Alerts
            <span class="badge badge-pill badge-warning">6 Nuevos</span>
          </span>
          <span class="indicator text-warning d-none d-lg-block">
            <i class="fa fa-fw fa-circle"></i>
          </span>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">Nuevas Notificaciones:</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span class="text-success">
              <strong>
                <i class="fa fa-long-arrow-up fa-fw"></i>Documento Validado
              </strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span class="text-danger">
              <strong>
                <i class="fa fa-long-arrow-down fa-fw"></i>Documento rechazado
              </strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span class="text-success">
              <strong>
                <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
              </strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item small" href="#">Ver todas las notificaciones</a>
        </div>
      </li>

      <li class="nav-item" id="question-item">
        <a class="nav-link" data-toggle="modal">
          <i class="fas fa-question"></i>
        </a>
      </li>

      <!-- user account -->
      <li class="nav-item dropdown">
        <a class="nav-link" id="accountProfile" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-alt"></i> RPANIAGUA
        </a>

        <div class="dropdown-menu dropdown-menu-right dropdown-account-profile" aria-labelledby="accountProfile">
          <div class="account-profile-content">
            <div class="profile-img"></div>
            <div class="account-info-content">
              <p class="text-left"><strong>Nombre Apellido</strong></p>
              <p class="text-left small">correoexampleLaaaaaaaaaargo@email.com</p>
            </div>
          </div>

          <div class="dropdown-divider"></div>

          <div class="logout-content">
            <a class="logout-link" (click)="openModal(template)">
              <i class="fas fa-sign-out-alt"></i> Salir
            </a>
          </div>
        </div>

      </li>

    </ul>

  </div>
</nav>

<ng-template #template>
  <div class="modal-header">
    <h6 class="modal-title pull-left">Aviso</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Desea salir de la aplicaci&oacute;n?</p>
    <button type="button" class="btn btn-default btn-modal" (click)="confirm()">Si</button>
    <button type="button" class="btn btn-primary btn-modal" (click)="decline()">No</button>
  </div>
</ng-template>


