<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Inicio">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">
      <div class="content-ico">
        <i class="fas fa-home"></i>
      </div>
      <span class="nav-link-text">Inicio</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Agregar Documentos">
    <a class="nav-link" routerLink="/agregar-documentos" routerLinkActive="active">
      <div class="content-ico">
        <i class="fas fa-file-pdf"></i>
      </div>
      <span class="nav-link-text">Agregar Documentos</span>
    </a>
  </li>

  <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Guardar Documentos">
    <a class="nav-link" href="tables.html">
      <div class="content-ico">
        <i class="fas fa-save"></i>
      </div>
      <span class="nav-link-text">Guardar Documentos</span>
    </a>
  </li>-->

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Firmar Documentos">
    <a class="nav-link" href="tables.html">
      <div class="content-ico">
        <i class="fas fa-file-signature"></i>
      </div>
      <span class="nav-link-text">Firmar Documentos</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Mis Documentos">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
      <div class="content-ico">
        <i class="fas fa-folder"></i>
      </div>
      <span class="nav-link-text">Mis Documentos</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
      <li>
        <a href="login.html">Guardados</a>
      </li>
      <li>
        <a href="register.html">Firmados</a>
      </li>
      <li>
        <a href="forgot-password.html">Validados</a>
      </li>
    </ul>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Firmar Documentos">
    <a class="nav-link" href="tables.html">
      <div class="content-ico">
        <i class="fas fa-envelope"></i>
      </div>
      <span class="nav-link-text">Inbox</span>
    </a>
  </li>

</ul>
