
<div class="container-work-space">

        <div class="row">

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-file-pdf"></i>
                </div>
                <div class="mr-5">Agregar</div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-file-signature"></i>
                </div>
                <div class="mr-5">Firmar</div>
              </div>
            </div>
          </div>

      </div>
</div>
